

/*configuração geral da pagina*/
.page{
    display: grid;
    grid-template-columns: 17% 83%;
}

/*menu lateral*/
#menu {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
    font-size: 12px;
    background-color: #8937B9; ;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    overflow-y: auto;
}

#menu li {
    display: block;
    position: relative;
    z-index: 2; 
     
}


#menu li .item:hover {
    background-color:#B84AF7;
}

#menu li .item:active {
    background-color:#B84AF7;
}


#menu li .item { color: #fff; display: block; padding: 7px 15px;cursor: pointer;  }

#menu li .selected {
    position: relative;
    background-color: #4C0078;
    display: block; padding: 7px 15px;cursor: pointer;color: #fff;
}

#menu li.headerTitle {
    width: 100%;
    height: 46px;
    background-color: #6702a0;
    color: #fff;
    align-items:center;
    justify-content:center;
    font-size:25px;
    font-weight:700;
}

#menu li.legend {
    width: 100%;
    height: 20px;
    background-color: #8937B9;
    color: #fff;
    font-size:12px;
    font-weight:700;
    
}

/*tabelas*/
body {
    font-family: "Open Sans", sans-serif;
    line-height: 1.25;
}
  
table {
    border: 1px solid black;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
    font-size: 13px;
}
  
table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
}
  
table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
}
  
table th,
table td {
    padding: .625em;
    text-align: center;
}
  
table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
}
  
@media screen and (max-width: 600px) {
    table {
      border: 0;
    }
  
    table caption {
      font-size: 1.3em;
    }
    
    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
    table tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }
    
    table td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: right;
    }
    
    table td::before {
      /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    
    table td:last-child {
      border-bottom: 0;
    }
  }
/*botoes*/

.btn{
    height: 30px;
    border-radius: 4px;
    border: 0;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}

.btn-sm{
    height: 25px;
}

.btn-lg{
    height: 35px;
    font-size: 15px;
}

.btn-block{
    width:100%;
}

.green-button{
    background: #25BA6B;
    color: #fff;
}

.green-button:hover{
    background: #1e9656;
    color: #fff;
}

.red-button{
    background: #d12c2c;
    color: #fff;
}

.red-button:hover{
    background: #9c2121;
    color: #fff;
}

.blue-button{
    background: #426bf1;
    color: #fff;
}

.blue-button:hover{
    background: #2c4fc2;
    color: #fff;
}

/*navBar superior*/    
.block {
    min-height: 262px;
    background-color: #f4f4f4;
    padding: 5px 15px;
}

.block:last-child {
    min-height: 620px;
}

    
.nav {
    height: 46px;
    width: 100%;
    background-color: #6D00AB;
    position: relative;
}

.nav > .nav-header {
    display: none;
}

.nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 15px;
    color: #fff;
    padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
    display: none;
}

.nav > .nav-links {
    display: inline;
    float: right;
    font-size: 15px;
}

.nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
}

.nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
    display: none;
}
 
/*grid de produtos na exibiçao principal*/
.products-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 5px;
}
/*conteudo da pagina*/
.main {
    position: relative;
    background-color:#fdf6fd;
    height: 92vh;
    color:black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.content-body{
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
}
.content{
    width:100%;
    background-color:#fdf6fd;
    margin-top: 20px;
}

/*rodape*/
#footer{
    background-color:#ccc;
    width:100%;
    height:50px;
    display: flex;
}

select{
    width: 300px;
}

/*gerericos*/

.align-center{
    display:flex;
    align-items:center;
    justify-content:center;
}


/*row*/
.row{
    display: inline-flex;
    flex-direction: row;
    width: 100%;
}

.col-10{
    width: 10%;
    padding: 3px;
}
.col-20{
    width: 20%;
    padding: 3px;
}
.col-30{
    width: 30%;
    padding: 3px;
}
.col-40{
    width: 40%;
    padding: 3px;
}

.col-50{
    width: 50%;
    padding: 3px;
}
.col-60{
    width: 60%;
    padding: 3px;
}
.col-70{
    width: 70%;
    padding: 3px;
}

.col-80{
    width: 80%;
    padding: 3px;
}
.col-90{
    width: 90%;
    padding: 3px;
}
.col-100{
    width: 100%;
    padding: 3px;
}

.margin-left-5{
    margin-left: 5px;
}

/*configurações de formulario*/

.input-text{
    
    height: 30px;
    width: 100%;
    margin-top: 5px;
    background: #F5F8FA;
    border: 1px solid #999497;
    border-radius: 4px;
    outline: none;
    color: #121414;
}

.text-area{
    width: 99%;
    background: #F5F8FA;
    border: 1px solid #999497;
    border-radius: 5px;
    padding: 5px;
    outline: none;
    color: #000000;
}

.select-box{
    width: 100%;
    height: 35px;
    background: #F5F8FA;
    border: 1px solid #999497;
    border-radius: 5px 5px 0px 0px;
    outline: none;
    margin-top: 5px;
    color: #000000;
}

/*input file*/
.inputfile {
    width: 0.1px;
    height: 0.1px;
    
    opacity: 0;   
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    max-width: 80%;
    font-size: 12px;
    /* 20px */
    
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    border-radius: 4px;
    margin-top: 4px;
    /* 10px 20px */
}

.no-js .inputfile + label {
    display: none;
}

.inputfile:focus + label,
.inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label * {
    /* pointer-events: none; */
    /* in case of FastClick lib use */
}

.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    /* 4px */
    margin-right: 0.25em;
    /* 4px */
}


/* style 1 */

.inputfile-1 + label {
    color: #f1e5e6;
    background-color: #d3394c;
}

.inputfile-1:focus + label,
.inputfile-1.has-focus + label,
.inputfile-1 + label:hover {
    background-color: #722040;
}

@media (max-width:400px) {
    
    .nav > .nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
    }
    .nav > .nav-btn > label {
        display: inline-block;
        width: 25px;
        height: 46px;
        padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
        background-color: rgba(0, 0, 0, 0.3);
    }
    
    .nav > .nav-btn > label > span {
        display: block;
        width: 25px;
        height: 7px;
        border-top: 2px solid #eee;
    }
    .nav > .nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: #333;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 0px;
        left: 0px;
    }
    .nav > .nav-links > a {
        display: block;
        width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
        height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
        height: calc(100vh - 50px);
        overflow-y: auto;
    }
}
@media(max-width:740px){
    .row{
        display: inline-flex;
        flex-direction: column;
        width: 100%;
    }

    .col-10{
        width: 100%;
    }

    .col-20{
        width: 100%;
    }

    .col-30{
        width: 100%;
    }

    .col-40{
        width: 100%;
    }

    .col-50{
        width: 100%;
    }

    .col-60{
        width: 100%;
    }
    
    .col-70{
        width: 100%;
    }

    .col-80{
        width: 100%;
    }

    .col-90{
        width: 100%;
    }
    
    .page{
        display: grid;
        grid-template-columns: 100%;
    }

    #menu{
        display: none;
    }    
       

    .nav > .nav-header {
        display: inline;
    }

    .main{
        width: 100%;
    }
}
